@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../../dist/fonts/Montserrat-Bold.woff2") format("woff2"), url("../../dist/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat-medium;
  font-display: swap;
  src: url("../../dist/fonts/Montserrat-Medium.woff2") format("woff2"), url("../../dist/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat-light;
  font-display: swap;
  src: url("../../dist/fonts/Montserrat-Light.woff") format("woff"), url("../../dist/fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat-extra-bold;
  font-display: swap;
  src: url("../../dist/fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../../dist/fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  width: 1440px;
  height: 700px;
  margin: auto;
}

.no-webp .container-image-title {
  background: url(../img/header.png); }

.container-image-title {
  width: 100%;
  height: 100%;
}

.container-dream {
  width: 152px;
  height: 24px;
  position: relative;
  top: 48px;
  left: 249px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
}

.container-log {
  position: relative;
  width: 65px;
  height: 21px;
  left: 996px;
  top: 33px;
  font-family: Montserrat-light;
  font-size: 14px;
  color: #FFFFFF;
}

.container-log:hover {
  cursor: pointer;
}

.container-box-login {
  position: relative;
  width: 86px;
  height: 32px;
  left: 1061px;
  top: 1px;
  background-color: #b49a8c;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat-light;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.container-box-login-sing {
  font-family: Montserrat-light;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #FFFFFF;
}

.container-box-login:hover {
  cursor: pointer;
  background-color: yellowgreen;
}

.container-main-titel {
  position: relative;
  width: 470px;
  height: 126px;
  left: 485px;
  top: 151px;
  font-family: Montserrat;
  font-size: 52px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 63px;
}

.container-under-title {
  position: relative;
  left: 522px;
  top: 180px;
  font-family: Montserrat-light;
  font-size: 21px;
  color: #F7F3F2;
  word-spacing: -1px;
}

.container-border-title {
  position: relative;
  width: 225px;
  height: 40px;
  left: 608px;
  top: 216px;
  background: red;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-border-title:hover {
  cursor: pointer;
  background-color: lightcoral;
}

.container-border-title-text {
  font-family: Montserrat;
  font-size: 14px;
  color: #FFFFFF;
}

.container2 {
  width: 1438px;
  height: 600px;
  margin: auto;
}

.no-webp .container2-image-1 {
  background: url(../img/Step1.png); }

.container2-image-1 {
  width: 300px;
  height: 400px;
  border-radius: 2%;
  position: relative;
  left: 250px;
  top: 129px;
}

.container2-image-1-button {
  position: relative;
  width: 72px;
  height: 20px;
  left: 26px;
  top: 221px;
  color: #FFFFFF;
  background: red;
  border: 0px;
  border-radius: 40px;
  font-family: Montserrat-medium;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 9px;
  word-spacing: 2px;
  letter-spacing: 2px;
}

.container2-image-1-title {
  width: 250px;
  height: 58px;
  position: relative;
  top: 244px;
  left: 25px;
  font-family: Montserrat;
  font-size: 24px;
  color: #FFFFFF;
}

.container2-image-1-text {
  width: 245px;
  height: 57px;
  position: relative;
  top: 270px;
  left: 25px;
  font-family: Montserrat-light;
  font-size: 12px;
  color: #E3E3E3;
  display: block;
  line-height: 14px;
}

.no-webp .container2-image-2 {
  background: url(../img/Step2.png); }

.container2-image-2 {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 2%;
  left: 570px;
  top: -271px;
}

.container2-image-2-top {
  top: 252px;
  width: 70px;
}

.container2-image-2-morbi {
  top: 276px;
}

.container2-image-2-q {
  top: 295px;
  letter-spacing: 0.1px;
}

.no-webp .container2-image-3 {
  background: url(../img/Step3.png); }

.container2-image-3 {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 2%;
  left: 890px;
  top: -671px;
}

.container2-image-3-button3 {
  top: 221px;
  left: 25px;
}

.container2-text {
  position: relative;
  top: 92px;
  left: 549px;
  font-size: 26px;
  font-family: Montserrat;
}

.container3 {
  width: 1440px;
  height: 400px;
  margin: auto;
}

.container3-title {
  position: relative;
  width: 539px;
  height: 32px;
  left: 476px;
  top: 48px;
  font-family: Montserrat;
  font-size: 26px;
  display: block;
}

.container3-box1 {
  width: 220px;
  height: 205px;
  text-align: center;
  position: relative;
  left: 251px;
  top: 80px;
}

.no-webp .container3-box1-image1 {
  background: url(../img/Avatar1.png); }

.container3-box1-image1 {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 50px;
  top: 0px;
}

.container3-name {
  position: relative;
  top: 140px;
  font-size: 14px;
  font-family: Montserrat;
}

.container3-text {
  position: relative;
  top: 164px;
  left: 10px;
  display: block;
  width: 200px;
  font-family: Montserrat-light;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.2px;
  color: #666666;
}

.container3-box2 {
  position: relative;
  width: 220px;
  height: 205px;
  text-align: center;
  left: 491px;
  top: -125px;
}

.no-webp .container3-box2-image2 {
  background: url(../img/avatar2.png); }

.container3-box2-image2 {
  position: relative;
  width: 120px;
  height: 120px;
  left: 50px;
  top: 0px;
}

.container3-name2 {
  position: relative;
  top: 20px;
  font-size: 14px;
  font-family: Montserrat;
}

.container3-text2 {
  position: relative;
  top: 43px;
  left: -1px;
  display: block;
  font-family: Montserrat-light;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1px;
  color: #666666;
}

.container3-box3 {
  position: relative;
  width: 220px;
  height: 205px;
  text-align: center;
  left: 730px;
  top: -330px;
}

.no-webp .container3-box3-image3 {
  background: url(../img/avatar3.png); }

.container3-box3-image3 {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 51px;
  top: 0px;
}

.container3-name3 {
  position: relative;
  top: 140px;
  font-size: 14px;
  font-family: Montserrat;
}

.container3-text3 {
  position: relative;
  top: 169px;
  left: 3px;
  display: block;
  width: 224px;
  font-family: Montserrat-light;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.2px;
  color: #666666;
}

.container3-box4 {
  position: relative;
  width: 220px;
  height: 205px;
  text-align: center;
  left: 970px;
  top: -535px;
}

.no-webp .container3-box4-image4 {
  background: url(../img/Avatar4.png); }

.container3-box4-image4 {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 51px;
  top: 0px;
}

.container3-name4 {
  position: relative;
  top: 140px;
  font-size: 14px;
  font-family: Montserrat;
}

.container3-text4 {
  position: relative;
  top: 169px;
  left: 2px;
  display: block;
  width: 218px;
  font-family: Montserrat-light;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.2px;
  color: #666666;
}

.container3-button {
  width: 179px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  background: #FFFFFF;
  border: 2px solid red;
  border-radius: 40px;
}

.container3-button-text {
  width: 137px;
  height: 17px;
  font-family: Montserrat;
  font-size: 14px;
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.container3-button:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.container4 {
  width: 1440px;
  height: 1090px;
  margin: 25px auto;
}

.container4-box-image {
  position: relative;
  width: 942px;
  height: 1047px;
  left: 250px;
  top: 50px;
}

.container4-box-image-title {
  position: relative;
  width: 413px;
  height: 32px;
  left: 265px;
  top: 13px;
  font-family: Montserrat;
  font-size: 26px;
  color: #444444;
}

.no-webp .container4-box-image-box1 {
  background: url(../img/Mask1.png); }

.container4-box-image-box1 {
  position: relative;
  width: 300px;
  height: 310px;
  left: 0px;
  top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container4-box-image-box1-text {
  font-family: Montserrat;
  font-size: 22px;
  color: #FFFFFF;
}

.container4-box-image-box1:hover {
  cursor: pointer;
}

.no-webp .container4-box-image-box2 {
  background: url(../img/mark2.png); }

.container4-box-image-box2 {
  position: relative;
  width: 300px;
  height: 310px;
  left: 320px;
  top: -265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container4-box-image-box2-text2 {
  font-family: Montserrat;
  font-size: 22px;
  color: #FFFFFF;
}

.container4-box-image-box2:hover {
  cursor: pointer;
}

.no-webp .container4-box-image-box3 {
  background: url(../img/Mask3.png); }

.container4-box-image-box3 {
  position: relative;
  width: 300px;
  height: 310px;
  left: 640px;
  top: -575px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container4-box-image-box3-text3 {
  font-family: Montserrat;
  font-size: 22px;
  color: #FFFFFF;
  display: block;
  width: 228px;
  line-height: 27px;
}

.container4-box-image-box3:hover {
  cursor: pointer;
}

.no-webp .container4-box-image-box4 {
  background: url(../img/mark4.png); }

.container4-box-image-box4 {
  position: relative;
  width: 300px;
  height: 310px;
  left: 0px;
  top: -555px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container4-box-image-box4-text4 {
  font-family: Montserrat;
  font-size: 22px;
  color: #FFFFFF;
}

.container4-box-image-box4:hover {
  cursor: pointer;
}

.no-webp .container4-box-image-box5 {
  background: url(../img/mark5.png); }

.container4-box-image-box5 {
  position: relative;
  width: 620px;
  height: 310px;
  left: 320px;
  top: -865px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container4-box-image-box5-text5 {
  font-family: Montserrat;
  font-size: 22px;
  color: #FFFFFF;
}

.container4-box-image-box5:hover {
  cursor: pointer;
}

.no-webp .container4-box-image-box6 {
  background: url(../img/mark6.png); }

.container4-box-image-box6 {
  position: relative;
  width: 620px;
  height: 310px;
  left: 0px;
  top: -845px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container4-box-image-box6-text6 {
  font-family: Montserrat;
  font-size: 22px;
  color: #FFFFFF;
}

.container4-box-image-box6:hover {
  cursor: pointer;
}

.no-webp .container4-box-image-box7 {
  background: url(../img/mark7.png); }

.container4-box-image-box7 {
  position: relative;
  width: 300px;
  height: 310px;
  left: 640px;
  top: -1155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container4-box-image-box7-text7 {
  font-family: Montserrat;
  font-size: 22px;
  color: #FFFFFF;
}

.container4-box-image-box7:hover {
  cursor: pointer;
}

.container5 {
  width: 1440px;
  height: 310px;
  margin: auto;
}

.container5-box {
  position: relative;
  width: 482px;
  height: 158px;
  left: 476px;
  top: 51px;
}

.container5-box-title {
  position: relative;
  left: 64px;
  top: -2px;
  font-family: Montserrat;
  font-size: 26px;
  color: #444444;
}

.container5-box-text {
  position: relative;
  left: 106px;
  top: 54px;
  font-family: Montserrat-light;
  font-size: 16px;
  color: #666666;
  letter-spacing: -0.1px;
}

.container5-box-form {
  width: 293px;
  height: 36px;
  position: relative;
  top: 78px;
  left: 2;
  background-color: #FFFFFF;
  border: 1px solid #D4D4D4;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
  font-size: 14px;
  padding: 1px 15px;
}

.container5-box-form:focus {
  border: 1px solid #c403ff;
  background-color: #bb7394;
}

.container5-box-button {
  position: relative;
  width: 172.12px;
  height: 40px;
  left: 313px;
  top: 39px;
  background: #FF4E50;
  border-radius: 40px;
  border: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container5-box-button-text {
  font-family: Montserrat;
  font-size: 14px;
  color: #FFFFFF;
}

.footer {
  position: relative;
  width: 1440px;
  height: 224px;
  margin: 10px auto;
}

.footer-hr {
  border: 1px solid red;
  width: 1440px;
}

.footer-title {
  position: relative;
  left: 248px;
  top: 40px;
  font-family: Montserrat;
  font-size: 16px;
  color: red;
}

.footer-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 19px;
  left: 490px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 27px;
  width: 113px;
}

.footer-list {
  font-family: Montserrat-light;
  font-size: 13px;
  line-height: 26px;
  position: relative;
  top: 5px;
  letter-spacing: -0.3px;
}

.footer-partners {
  position: relative;
  top: -159px;
  left: 729px;
  font-family: Montserrat;
  font-size: 14px;
  width: 113px;
}

.footer-over {
  width: 83px;
  height: 12px;
  position: relative;
  top: -162px;
  left: 1043px;
  font-family: Montserrat;
  font-size: 10px;
  color: #CCCCCC;
  letter-spacing: 0.9px;
}

.no-webp .footer-image {
  background: url(../img/footer.png); }

.footer-image {
  width: 110px;
  height: 24px;
  position: relative;
  top: -157px;
  left: 1080px;
}

@media screen and (max-width: 1210px) {
  .container {
    width: 768px;
  }

  .no-webp .container-image-title {
    background: url(../img/two-adaptive/Headaer.png); }

  .container-dream {
    left: 48px;
  }

  .container-log {
    left: 565px;
  }

  .container-box-login {
    left: 630px;
  }

  .container-main-titel {
    left: 149px;
  }

  .container-under-title {
    left: 186px;
  }

  .container-border-title {
    left: 272px;
    top: 217px;
  }

  .container2 {
    width: 768px;
  }

  .container2-text {
    top: 97px;
    left: 240px;
    font-size: 22px;
  }

  .no-webp .container2-image-1 {
    background: url(../img/two-adaptive/Step1.png); }

  .container2-image-1 {
    width: 236px;
    top: 134px;
    left: 11px;
  }

  .container2-image-1-button {
    top: 206px;
    left: 20px;
  }

  .container2-image-1-title {
    top: 252px;
    left: 20px;
  }

  .container2-image-1-text {
    top: 265px;
    left: 19px;
    width: 193px;
    letter-spacing: 0.2px;
  }

  .no-webp .container2-image-2 {
    background: url(../img/two-adaptive/Step2.png); }

  .container2-image-2 {
    width: 236px;
    top: -266px;
    left: 267px;
  }

  .container2-image-2-top {
    top: 256px;
  }

  .container2-image-2-morbi {
    top: 269px;
    left: 19px;
    line-height: 16px;
    display: block;
    width: 182px;
  }

  .container2-image-2-q {
    top: 266px;
  }

  .container2-image-3 {
    width: 236px;
    left: 522px;
    top: -666px;
  }

  .container3 {
    width: 768px;
    height: 694px;
  }

  .container3-title {
    font-size: 22px;
    top: 53px;
    left: 176px;
  }

  .container3-box1 {
    left: 146px;
  }

  .container3-text {
    left: -7px;
    width: 234px;
  }

  .container3-box2 {
    top: 135px;
    left: 146px;
  }

  .container3-box3 {
    left: 401px;
  }

  .container3-text3 {
    width: 233px;
    left: -5px;
  }

  .container3-box4 {
    left: 401px;
    top: -276px;
  }

  .container3-text4 {
    left: -5px;
    top: 164px;
    width: 232px;
  }

  .container4 {
    width: 768px;
  }

  .container4-box-image {
    left: 10px;
    width: 765px;
  }

  .container4-box-image-title {
    font-size: 22px;
    top: 19px;
    left: 199px;
  }

  .no-webp .container4-box-image-box1 {
    background: url(../img/two-adaptive/Sport.png); }

  .container4-box-image-box1 {
    width: 236px;
  }

  .container4-box-image-box1-text {
    width: 190px;
    position: relative;
    top: -12px;
    line-height: 27px;
  }

  .no-webp .container4-box-image-box2 {
    background: url(../img/two-adaptive/Healath.png); }

  .container4-box-image-box2 {
    width: 236px;
    left: 257px;
  }

  .container4-box-image-box2-text2 {
    width: 190px;
    position: relative;
    top: 1px;
    line-height: 27px;
  }

  .no-webp .container4-box-image-box3 {
    background: url(../img/two-adaptive/Extreme.png); }

  .container4-box-image-box3 {
    width: 236px;
    left: 512px;
  }

  .no-webp .container4-box-image-box4 {
    background: url(../img/two-adaptive/Games.png); }

  .container4-box-image-box4 {
    width: 236px;
  }

  .no-webp .container4-box-image-box5 {
    background: url(../img/two-adaptive/Culture.png); }

  .container4-box-image-box5 {
    width: 491px;
    left: 256px;
    top: -864px;
  }

  .no-webp .container4-box-image-box6 {
    background: url(../img/two-adaptive/masage.png); }

  .container4-box-image-box6 {
    width: 491px;
    left: 0px;
    top: -843px;
  }

  .no-webp .container4-box-image-box7 {
    background: url(../img/two-adaptive/travel.png); }

  .container4-box-image-box7 {
    width: 236px;
    left: 512px;
    top: -1154px;
  }

  .container5 {
    width: 768px;
  }

  .container5-box {
    left: 141px;
    top: 55px;
  }

  .container5-box-title {
    left: 92px;
    top: 0px;
    font-size: 22px;
  }

  .container5-box-form {
    padding: 1px 16px;
    font-size: 14px;
    width: 267px;
  }

  .footer {
    width: 768px;
  }

  .footer-hr {
    width: 768px;
    position: relative;
    top: 1px;
  }

  .footer-title {
    left: 39px;
    font-family: Montserrat-light;
  }

  .footer-class {
    left: 266px;
  }

  .footer-partners {
    left: 436px;
  }

  .footer-over {
    left: 582px;
  }

  .footer-image {
    left: 618px;
  }
}

@media screen and (max-width: 770px) {
  .container {
    width: 320px;
    height: 540px;
    text-align: center;
  }

  .no-webp .container-image-title {
    background: url(../img/three-adaptev/Background.png); }

  .container-dream {
    left: 12px;
    top: 155px;
  }

  .container-log {
    left: 73px;
    top: 12px;
  }

  .container-box-login {
    left: 149px;
    top: -18px;
  }

  .container-main-titel {
    left: 34px;
    top: 105px;
    font-size: 30px;
    width: 272px;
    line-height: 37px;
  }

  .container-under-title {
    left: 31px;
    top: 84px;
    width: 277px;
    display: block;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: -0.6px;
  }

  .container-border-title {
    left: 33px;
    top: 99px;
    width: 277px;
  }

  .container2 {
    width: 320px;
    height: 820px;
  }

  .container2-text {
    top: 37px;
    left: 16px;
  }

  .no-webp .container2-image-1 {
    background: url(../img/three-adaptev/Step1.png); }

  .container2-image-1 {
    width: 299px;
    height: 239px;
    top: 54px;
    left: 10px;
  }

  .container2-image-1-button {
    top: 65px;
    left: 21px;
  }

  .container2-image-1-title {
    top: 111px;
    left: 20px;
  }

  .container2-image-1-text {
    top: 131px;
    left: 19px;
    width: 257px;
    letter-spacing: 0.3px;
  }

  .no-webp .container2-image-2 {
    background: url(../img/three-adaptev/Step2.png); }

  .container2-image-2 {
    width: 300px;
    height: 240px;
    top: 65px;
    left: 10px;
  }

  .container2-image-2-top {
    top: 96px;
  }

  .container2-image-2-morbi {
    top: 124px;
    width: 212px;
  }

  .container2-image-2-q {
    top: 104px;
    letter-spacing: 0.2px;
  }

  .no-webp .container2-image-3 {
    background: url(../img/three-adaptev/Step3.png); }

  .container2-image-3 {
    width: 300px;
    height: 240px;
    left: 9px;
    top: 75px;
  }

  .container3 {
    width: 300px;
    height: 1100px;
    text-align: center;
  }

  .container3-title {
    width: 285px;
    top: 34px;
    left: 18px;
    line-height: 26px;
  }

  .container3-box1 {
    left: 146px;
    top: 68px;
    left: 50px;
  }

  .container3-text {
    left: -7px;
    width: 234px;
  }

  .container3-box2 {
    top: 324px;
    left: 50px;
  }

  .container3-box3 {
    left: 49px;
    top: -120px;
  }

  .container3-text3 {
    width: 233px;
    left: -5px;
  }

  .container3-box4 {
    left: 49px;
    top: 135px;
  }

  .container3-text4 {
    left: -5px;
    top: 164px;
    width: 232px;
  }

  .container3-button {
    left: 105px;
    top: -76px;
    width: 281px;
  }

  .container4 {
    width: 315px;
    height: 950px;
    text-align: center;
  }

  .container4-box-image {
    left: 9px;
    width: 315px;
  }

  .container4-box-image-title {
    width: 201px;
    top: -40px;
    left: 51px;
    line-height: 26px;
  }

  .no-webp .container4-box-image-box1 {
    background: url(../img/three-adaptev/Sport.png); }

  .container4-box-image-box1 {
    width: 300px;
    height: 120px;
    top: 13px;
  }

  .container4-box-image-box1-text {
    width: 190px;
    position: relative;
    top: -12px;
    line-height: 27px;
  }

  .no-webp .container4-box-image-box2 {
    background: url(../img/three-adaptev/Healath.png); }

  .container4-box-image-box2 {
    width: 300px;
    height: 120px;
    top: 22px;
    left: 1px;
  }

  .no-webp .container4-box-image-box3 {
    background: url(../img/three-adaptev/mount.png); }

  .container4-box-image-box3 {
    width: 300px;
    height: 120px;
    top: 33px;
    left: 1px;
  }

  .no-webp .container4-box-image-box4 {
    background: url(../img/three-adaptev/game.png); }

  .container4-box-image-box4 {
    width: 300px;
    height: 120px;
    top: 44px;
    left: 1px;
  }

  .no-webp .container4-box-image-box5 {
    background: url(../img/three-adaptev/colisei.png); }

  .container4-box-image-box5 {
    width: 300px;
    height: 120px;
    top: 54px;
    left: 1px;
  }

  .no-webp .container4-box-image-box6 {
    background: url(../img/three-adaptev/masage.png); }

  .container4-box-image-box6 {
    width: 300px;
    height: 120px;
    top: 64px;
    left: 1px;
  }

  .no-webp .container4-box-image-box7 {
    background: url(../img/three-adaptev/travel.png); }

  .container4-box-image-box7 {
    width: 300px;
    height: 120px;
    top: 73px;
    left: 1px;
  }

  .container5 {
    width: 320px;
    height: 261px;
    text-align: center;
  }

  .container5-box {
    width: 325px;
    left: 15px;
    top: 30px;
    height: 195px;
    line-height: 27px;
  }

  .container5-box-title {
    width: 218px;
    left: 36px;
    top: 0px;
  }

  .container5-box-text {
    left: -17px;
    top: 13px;
  }

  .container5-box-form {
    width: 246px;
    left: -5px;
    top: 21px;
  }

  .container5-box-button {
    width: 277px;
    left: 6px;
    top: 32px;
  }

  .container5-box-forma {
    width: 300px;
  }

  .footer {
    width: 322px;
    height: 229px;
  }

  .footer-hr {
    width: 320px;
    position: relative;
    top: 1px;
  }

  .footer-title {
    left: 101px;
    top: 24px;
  }

  .footer-class {
    left: 125px;
    top: 33px;
  }

  .footer-list1 {
    top: -5px;
    left: -60px;
  }

  .footer-list2 {
    top: -31px;
    left: -9px;
  }

  .footer-list3 {
    top: -58px;
    left: 53px;
  }

  .footer-list4 {
    top: -83px;
    left: 101px;
  }

  .footer-list5 {
    top: -83px;
    left: -42px;
  }

  .footer-list6 {
    top: -110px;
    left: 84px;
  }

  .footer-partners {
    left: 128px;
    top: -69px;
  }

  .footer-over {
    left: 54px;
    top: -42px;
  }

  .footer-image {
    left: 105px;
    top: -36px;
  }
}

.webp .container-image-title { background: url(../img/header.webp); }

.webp .container2-image-1 { background: url(../img/Step1.webp); }

.webp .container2-image-2 { background: url(../img/Step2.webp); }

.webp .container2-image-3 { background: url(../img/Step3.webp); }

.webp .container3-box1-image1 { background: url(../img/Avatar1.webp); }

.webp .container3-box2-image2 { background: url(../img/avatar2.webp); }

.webp .container3-box3-image3 { background: url(../img/avatar3.webp); }

.webp .container3-box4-image4 { background: url(../img/Avatar4.webp); }

.webp .container4-box-image-box1 { background: url(../img/Mask1.webp); }

.webp .container4-box-image-box2 { background: url(../img/mark2.webp); }

.webp .container4-box-image-box3 { background: url(../img/Mask3.webp); }

.webp .container4-box-image-box4 { background: url(../img/mark4.webp); }

.webp .container4-box-image-box5 { background: url(../img/mark5.webp); }

.webp .container4-box-image-box6 { background: url(../img/mark6.webp); }

.webp .container4-box-image-box7 { background: url(../img/mark7.webp); }

.webp .footer-image { background: url(../img/footer.webp); }

@media screen and (max-width: 1210px) {

  .webp .container-image-title { background: url(../img/two-adaptive/Headaer.webp); }
}

@media screen and (max-width: 1210px) {

  .webp .container2-image-1 { background: url(../img/two-adaptive/Step1.webp); }
}

@media screen and (max-width: 1210px) {

  .webp .container2-image-2 { background: url(../img/two-adaptive/Step2.webp); }
}

@media screen and (max-width: 1210px) {

  .webp .container4-box-image-box1 { background: url(../img/two-adaptive/Sport.webp); }
}

@media screen and (max-width: 1210px) {

  .webp .container4-box-image-box2 { background: url(../img/two-adaptive/Healath.webp); }
}

@media screen and (max-width: 1210px) {

  .webp .container4-box-image-box3 { background: url(../img/two-adaptive/Extreme.webp); }
}

@media screen and (max-width: 1210px) {

  .webp .container4-box-image-box4 { background: url(../img/two-adaptive/Games.webp); }
}

@media screen and (max-width: 1210px) {

  .webp .container4-box-image-box5 { background: url(../img/two-adaptive/Culture.webp); }
}

@media screen and (max-width: 1210px) {

  .webp .container4-box-image-box6 { background: url(../img/two-adaptive/masage.webp); }
}

@media screen and (max-width: 1210px) {

  .webp .container4-box-image-box7 { background: url(../img/two-adaptive/travel.webp); }
}

@media screen and (max-width: 770px) {

  .webp .container-image-title { background: url(../img/three-adaptev/Background.webp); }
}

@media screen and (max-width: 770px) {

  .webp .container2-image-1 { background: url(../img/three-adaptev/Step1.webp); }
}

@media screen and (max-width: 770px) {

  .webp .container2-image-2 { background: url(../img/three-adaptev/Step2.webp); }
}

@media screen and (max-width: 770px) {

  .webp .container2-image-3 { background: url(../img/three-adaptev/Step3.webp); }
}

@media screen and (max-width: 770px) {

  .webp .container4-box-image-box1 { background: url(../img/three-adaptev/Sport.webp); }
}

@media screen and (max-width: 770px) {

  .webp .container4-box-image-box2 { background: url(../img/three-adaptev/Healath.webp); }
}

@media screen and (max-width: 770px) {

  .webp .container4-box-image-box3 { background: url(../img/three-adaptev/mount.webp); }
}

@media screen and (max-width: 770px) {

  .webp .container4-box-image-box4 { background: url(../img/three-adaptev/game.webp); }
}

@media screen and (max-width: 770px) {

  .webp .container4-box-image-box5 { background: url(../img/three-adaptev/colisei.webp); }
}

@media screen and (max-width: 770px) {

  .webp .container4-box-image-box6 { background: url(../img/three-adaptev/masage.webp); }
}

@media screen and (max-width: 770px) {

  .webp .container4-box-image-box7 { background: url(../img/three-adaptev/travel.webp); }
}